# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
build/
dist/
*.spec
venv/
env/

# VS Code workspace settings
.vscode/

# Windows files
Thumbs.db

# macOS files
.DS_Store

# Reports
reports/*.csv
reports/*.html
reports/*.txt